### Dependencies        
### To install, run:    
### $ pip install -r requirements.txt   

## data processing ##
numpy>=1.15.2
pandas

## visualization ##
matplotlib>=2.2.2

## network platform
tensorflow>=2.0.0

## external tools
scikit-learn>0.20.1
git+https://github.com/ZebinYang/interpret.git
