### Dependencies        
### To install, run:    
### $ pip install -r requirements.txt   

## data processing ##
numpy>=1.15.2
pandas>=0.19.2

## visualization ##
matplotlib>=3.1.3

## network platform
tensorflow>=2.0.0

## external tools
scikit-learn>=0.23.0
